body {
    width: 330px;
    height: 330px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 1rem;
}

.btn-holder {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
