* {
    padding: 0;
    margin: 0;
}

body {
    width: 300px;
    height: 350px;
    background: radial-gradient(
        circle at 24.1% 68.8%,
        rgb(50, 50, 50) 0%,
        rgb(0, 0, 0) 99.4%
    );
    color: white;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.title-container > img {
    width: 30px;
}

.title-container > h1 {
    font-size: 1.3rem;
}

.all-options {
    margin-top: 1rem;
}

.option-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 0.3rem;
}

.option-container > label {
    font-size: 1rem;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: orange;
}

input:focus + .slider {
    box-shadow: 0 0 1px orange;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
